/* .navbar {
  background: #333;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.mobile-menu-icon {
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav-links-mobile li {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #fff;
  }

  .mobile-menu-icon {
    display: block;
  }
} */
